body {
    background-color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    background-image: linear-gradient(to left, rgb(226, 150, 150), rgb(145, 0, 0));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#mainTitle {
    border-color: rgb(145, 0, 0);
    border-style: outset;
    border-width: 7px;
    border-radius: 10px;
}

main div:hover {
    transform: scale(1.01);
    border-color: rgb(145, 0, 0);
    box-shadow: 5px 5px 5px  rgb(145, 0, 0);
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    text-decoration: underline;
}

main div p {
    font-style: italic;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


nav {
    background-color: rgb(70, 68, 68);
    color: white;
    border-radius: 30px;
    min-height: 30px;
    height: auto;
}

nav a {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: rgb(145, 0, 0);
}

nav a:active {
    text-decoration: underline;
}

nav :hover{
    color: olive;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    display: inline-block;
    text-align: center;
    padding: 0 20px
}

section {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
}

article {
    display: grid;
    flex: 1;
    margin-top: 10px;
    margin-left: 5pt;
    margin-right: 5pt;
    background-color: rgb(197, 196, 196);
    border-radius: 10px;
}

article img {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
}

article img:hover {
    transform: scale(1.1);
}

article h2:hover {
    cursor: pointer;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer p {
    text-align: right;
    font-style: italic;
    text-decoration: overline;
}